node_modules/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
outputs/build/
outputs/pdf/
outputs/logs/
outputs/png/
**/outputs/build/
**/outputs/pdf/
**/outputs/logs/
**/outputs/png/
